langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-ollama
langchain-groq
faiss-cpu
pypdf
langchain_chroma
langchain_classic
langchain_huggingface
sentence-transformers
arxiv==1.4.8
wikipedia
ddgs
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub